<head>
	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" type="image/ico"/>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}" />

	{% if layout.type == 'home' or layout.type == 'about' %}
		<meta property='og:title' content='Devin Sipal'/>
		<meta property='og:type' content='website'/>
		<meta property='og:image' content ='{{site.url}}/assets/img/me.png' />
		<meta property='og:image:width' content ='960' />
		<meta property='og:image:height' content ='960' />
		<meta property='og:description' content='{{site.description}}' />
		<meta property='og:url' content='{{site.url}}' />
	{% endif %}

	{% if layout.type == 'home' %}
		<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.7.2/rellax.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/91/three.min.js"></script>
	{% endif %}

	{% if layout.type == 'about' %}
		<link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">
	{% endif %}

	{% if layout.type == 'post' %}
		<link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
		<meta property='og:title' content='{{page.title}}'/>
		{% if post.category == video %}
			<meta property='og:type' content='video.other'/>
			{% else %}
			<meta property='og:type' content='article'/>
		{% endif %}
		<meta property='og:image' content ='{{site.url}}{{page.featured-img}}'/>
		<meta property='og:image:width' content='500' />
		<meta property='og:image:height' content='500' />
		<meta property='og:image:alt' content='{{page.title}}' />
		{% if page.content.size > 1 %}
			<meta property='og:description' content='{{page.excerpt | strip_html | truncatewords:25 }}' />
			{% else %}
			<meta property='og:description' content='{{site.description | strip_html | truncatewords:25 }}' />
		{% endif %}
	{% endif %}
	<meta property='og:url' content='{{site.url}}{{page.url}}' />

</head>
