@import "../layout";
@import "../components/landing";
@import "../components/homeNav";
@import "../components/feed";
@import "../components/popNav";

.social-top{
	margin-top: 4px;
	text-align: right;
}

.social-top > a{
	font-size: 19px;
	font-weight: 700;
	color: white;
	letter-spacing: .2em;
	margin-right: 3vw;

}
