@import "../layout";
@import "../components/landing";
@import "../components/homeNav";
@import "../components/feed";
@import "../components/popNav";

.social{
	height: 150px;
	width: 100px;
	position: fixed;
	left: 22vw;
	bottom: 25vw;
	z-index: 0;
}
