@import "../layout";
@import "../components/topNav";
@import "../components/post";

body{
	background-image: url('/assets/img/feedbg.svg');
}

.post-name-date {
  max-width: none;
}
video{
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.post{
	display: inline-block;
	border-radius: 15px;
	overflow: hidden;
	max-height: none;
}
.post-name-date{
	padding-bottom: 5px;
}
.post-img{
	margin: 0px;
	width: auto;
	height: 80vh;

}
.main-content{
  margin-top: 2vh;
}
.post-img-small{
	width: 100%;
}
