@import "../layout";
@import "../components/topNav";
@import "../components/single_sidebar";
@import "../components/post";

.post-name-date {
  max-width: none;
}
video{
  width: 100%;
}
.post{
	display: inline-block;
}
.post-img{
	margin: 0px;
}
.main-content{
  margin-top: 2vh;
}
