@import "../devinsipal";
@import "../components/topNav";

body {
	background: $about-bgcolor;
}

footer {
	background: $about-footer-bgcolor;
	color: $about-footer-color;
}

.main-content {
	padding: 5vh 10vh;
}

.self-portrait {
	max-height: 50vh;
	max-width: 100%;
	object-fit: cover;
	border: $about-portrait-border;
}

.about-text {
	background-color: $about-text-bgcolor;
	font-size: 16px;
	text-align: left;
	text-indent: 2em;
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: $about-text-border;
}

p:nth-last-child(n+2) {
	margin-bottom: 1em;
}
