.force-height {
	height: 400px;
}

.feed {
	background-color: $background-color;
	background-image: url('/assets/img/feedbg.svg');
	background-size: cover;
	background-position: center;
	padding: 50px 10vw;
	position: relative;
	z-index: 4;
}

.feed-col {
	box-sizing: content-box;
	padding: 0;
}

.feed-item {
	overflow: hidden;
	height: 85%;
	background-color: white;
	margin-bottom: 3vh;
	margin-right: 3vh;
}

.item-top{
	position: relative;
}

.item-img {
	object-fit: cover;
	object-position: 50% 50%;
	height: 256px;
	width: 100%;
	border-bottom: 5px solid #f79c31;
}

.item-category{
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding-top: 10%;
	font-size: 3em;
	color: white;
	font-weight: 600;
}

.item-name-date {
	line-height: 28px;
	box-sizing: border-box;
	margin: 10px;
}

.item-name {
	padding: 0;
	margin: 0;
	text-align: left;
}

.item-date {
	margin-top: auto;
	text-align: right;
	color: dimgrey;
	font-size: 10px;
	padding: 0;
}

.c-video {
	background-color: rgba(121, 255, 235, .7);
}
.c-graphics {
	background-color: rgba(175, 88, 182, .7);
}
.c-code {
	background-color: rgba(241, 129, 72, .7);
}

@media(hover: hover){
	.feed-item:hover .item-category{
		display: inline-block;
		position: absolute;
		top: 0;
	}
	.feed-item:hover .item-img {
		border-bottom: 5px solid #111;
	}
}

@media screen and (max-width: 1199px) {
	.feed-item {
		justify-content: center;
	}

	.item-name-date {
		line-height: 16px;
		max-width: none;
		margin-top: 5px;
	}

	.item-name-date *{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
}


@media screen and (max-width: 991px){
	.feed-item{
		margin-right: 0;
		margin-bottom: 3vh;
	}
}
