.force-height {
	height: 400px;
}

.feed {
	background-color: $background-color;
	background-image: $primary-svg-bg;
	background-size: cover;
	background-position: center;
	padding: 50px 10vw;
}
.feed-col {
	box-sizing: content-box;
	padding: 0;
}

.feed-item {
	overflow: hidden;
	height: 100%;
	background-color: white;
	margin-bottom: 30px;
	margin-right: 30px;
	box-sizing: border-box;
}

.item-top{
	position: relative;
}

.item-img {
	object-fit: cover;
	object-position: 50% 50%;
	height: 256px;
	width: 100%;
	border-bottom: $feed-item-border;
}

.item-category{
	display: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding-top: 10%;
	font-size: 3em;
	color: white;
	font-weight: 600;
}

.item-name-date {
	line-height: 28px;
	box-sizing: border-box;
	margin: 10px;
}

.item-name {
	padding: 0;
	margin: 0;
	text-align: left;
}

.item-date {
	margin-top: auto;
	text-align: right;
	color: dimgrey;
	font-size: 12px;
	padding: 0;
}

.c-video {
	background-color: $code-hover-color;
}
.c-graphics {
	background-color: $graphics-hover-color;
}
.c-code {
	background-color: $code-hover-color;
}

@media(hover: hover){
	.feed-item:hover .item-category{
		display: inline-block;
		position: absolute;
		top: 0;
	}
	.feed-item:hover .item-img {
		border-bottom: 5px solid #111;
	}
}