.feed-row.force-height > div {
	height: 400px;
}

.feed {
	padding: 10vh 10vw;
	position: relative;
	z-index: 4;
	background-color: white;
	min-height: 100vh;
}
.feed-col {
	box-sizing: border-box;

}

.feed-item {
	overflow: hidden;

	height: 85%;
	background-color: white;
}

.item-img {
	object-fit: cover;
	object-position: 50% 50%;
	height: 256px;
	width: 100%;
	border-bottom: 5px solid #f79c31;
}

.item:hover .post-img {
	border-bottom: 5px solid #31d4f7;
}

.item-name-date {
	line-height: 28px;
	box-sizing: border-box;
	margin: 10px;
}

.item-name {
	padding: 0;
	margin: 0;
	text-align: left;
}

.item-date {
	margin-top: auto;
	text-align: right;
	color: dimgrey;
	font-size: 10px;
	padding: 0;
}

@media screen and (max-width: 1199px) {
	.item {
		justify-content: center;
	}

	.item-name-date {
		line-height: 16px;
		max-width: none;
		margin-top: 5px;
	}

	.item-name-date *{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
}
