
.name {
  width: 214px;
  display: block;
  color: #000;
  border: 2px #000 solid;
  border-bottom: none;
  margin: 0 auto -10px;
}

.name > h1 {
  margin-top: 0;
}

.navigation {
  border-bottom: 3px solid black;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.bottom-nav {
  padding-top: 10px;
  background-color: white;
  border: 2px solid black;
  padding-bottom: 10px;
}

.social-link-center {
  display: none;
}

@media screen and (max-width: 1199px) {
  .social-link-center{
    display: block;
  }
}

@media screen and (max-width: 767px){
	.name{
		width: 100%;
		max-width: 214px;
	}

  .bottom-nav {
    max-width: 214px;
    margin: 0 auto;
  }
  .navigation {
    border-bottom: none;
  }
}
