.name {
	min-width: 214px;
	width: 10vw;
	display: block;
	color: $homeNav-name-color;
	border: $homeNav-name-border;
	border-bottom: none;
	margin: 0 auto -10px;
}

.name > h1 {
	margin-top: 0;
	background-color: $homeNav-name-bgcolor;

}

.nav-button > a {
	padding: 3px;
}

.navigation {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;
	justify-content: center;
}

.bottom-nav {
	background-color: $homeNav-bgcolor;
	border: $homeNav-border;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.name {
		width: 100%;
		max-width: 214px;
		margin-top: 10px;
	}

	.bottom-nav {
		margin: 0 auto;
	}

	.navigation {
		border-bottom: none;
	}
}
