.container-top {
	background: $landing-primary-color;
	background: $landing-gradient;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.social-top{
	margin: 10px 0px 5px 0px;
}
.social-top > a{
	font-size: 19px;
	font-weight: 700;
	color: $landing-social-color;
	letter-spacing: .2em;
	margin: 0 1em 0 1em;
	padding: 5px;
}

.social-top > img:hover{
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.3);
}
.social-img {
	border-radius: 5px;
	height: 36px;
}

.svg-background {
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 90%;
	box-sizing: border-box;
}

.animation-container {
	position: relative;
	z-index: 3;
	min-height: 256px;
	min-width: 256px;
	top: 25%;
	height: 70%;
}

.animation {
	height: 33vh;
	width: 33vh;
}

.parallax-wrapper {
	display: block;
	position: absolute;
	bottom: 0;
	height: 80%;
	width: 100%;
}

#white-cover {
	background-image: url("/assets/img/layout/white-cover.svg");
	height: 80%;
	width: 100%;
	position: absolute;
	min-height: 600px;
	z-index: 1;
	bottom: 0;
	background-size: 159vh auto;
}

#left-art {
	background-image: url("/assets/img/layout/left-home-form.svg");
	position: relative;
	z-index: 2;
	background-position: center;
	height: 75vh;
}

#left-small-art {
	background-image: url("/assets/img/layout/small-home-form.svg");
	position: relative;
	height: 20vh;
	z-index: 1;
	background-position: center;
	background-size: contain;
}

#right-small-art {
	background-image: url("/assets/img/layout/smaller-home-form.svg");
	position: relative;
	z-index: 2;
}

#right-art {
	background-image: url("/assets/img/layout/right-home-form.svg");
	z-index: 0;
	position: relative;
	background-position: center;
	height: 60%;
}


@media screen and (max-width: 999px) {
	.parallax-wrapper{
		display: none;
	}
	.animation-container{
		display: block;
	}
	.container-top {
		height: 150px;
	}
}
