.svg-background {
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 85%;
	box-sizing: border-box;
}

.animation-container {
	position: relative;
	z-index: 3;
	min-height: 256px;
	min-width: 256px;
	top: 20%;
	height: 70%;
}

.animation {
	max-width: 400px;
	max-height: 400px;
	height: 33vh;
	width: 33vh;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.parallax-wrapper {
	display: block;
	position: relative;
	top: 10%;
	height: 80%;
	width: 100%;
}

#white-cover {
	background-image: url("/assets/img/white-cover.svg");
	height: 80%;
	width: 100%;
	position: absolute;
	min-height: 600px;
	z-index: 1;
	bottom: 0;
	background-size: 167vh auto;
}

#left-art {
	background-image: url("/assets/img/left-home-form.svg");
	position: relative;
	z-index: 2;
	background-position: center;
	height: 75vh;
}

#left-small-art {
	background-image: url("/assets/img/small-home-form.svg");
	position: relative;
	height: 20vh;
	z-index: 1;
	background-position: center;
	background-size: contain;
}

#right-small-art {
	background-image: url("/assets/img/smaller-home-form.svg");
	position: relative;
	z-index: 2;
}

#right-art {
	background-image: url("/assets/img/right-home-form.svg");
	z-index: 0;
	position: relative;
	background-position: center;
	height: 60%;
}

.container-top {
	background: rgb(229,206,173);
	background: linear-gradient(166deg, rgba(229,206,173,1) 0%, rgba(112,49,207,1) 84%);
	overflow: hide;
	height: 100vh;
}

.sidebar-container {
	z-index: 3;
}
@media screen and (max-width: 1199px) {


	.container-top {
		position: relative;
	}

	.animation {
		max-height: 256px;
		height: 20vh;
		width: 20vh;
	}
	.animation-container{
		height: 50%;
		top: -10%;
	}

	.container-top {
		height: 45vh;
	}

	.sidebar {
		display: none;
	}

	#left-small-art {
		background-position: center top;
		bottom: 50%;
		right: 3%;
	}

	#left-art {
		height: 40vh;
		top: 15%;
	}
	#right-art{
		height: 30vh;
	}

	#white-cover {
		height: 50%;
		background-size: 100vh 60vh;
		background-position: center bottom;
	}

	.parallax-wrapper {
		height: 100%;
	}

	@media screen and (max-height: 709px){
		.parallax-wrapper{
			display: none;
		}
		.container-top{
			height: 120px;
		}
	}
}
@media screen and (max-width: 768px) {
	.parallax-wrapper{
		display: none;
	}

	.container-top {
		height: 120px;
	}
}
