body {
	background-color: $background-color;
	background-image: $primary-svg-bg;
	background-size: cover;
	background-position: center;
}
.main-content {
	padding-left: 5vh;
	padding-right: 5vh;
	overflow: hidden;
	min-height: 91.5vh;
}

.post {
	margin: 20px 10px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 15px;
	overflow: hidden;
	background-color: $post-bgcolor;
	max-width: 60%;
}

.post-info {
	height: 100%;
}

video {
	background-color: rgba(0,0,0,.8);
	width: 100%;
	overflow: hidden;
	max-height: 80vh;
}

.post-img {
	height: 80vh;
	width: auto;
	object-fit: cover;
	object-position: center;
}

.post-img-small {
	width: 100%;
	height: 60%;
	object-fit: cover;
	object-position: center;
}

.post-name {
	padding: 0;
	margin: 0;
	text-align: left;
}

.post-date {
	margin-top: auto;
	text-align: right;
	color: $post-date-color;
	font-size: 10px;
	padding: 0;
}

.post-name-date {
	vertical-align: bottom;
	line-height: 28px;
	background-color: $post-name-date-bgcolor;
	width: 100%;
	color: $post-name-date-color;
	min-height: 5vh;
	padding: 10px;
}

.post-content {
	background-color: $post-content-bgcolor;
	color: $post-content-color;
	text-align: left;
	padding: 15px;
	font-size: 16px;
}
@media screen and (max-width: 1199px) {
	.main-content{
		padding: 2vh 2vh;
	}
	.post{
		max-width: 90%;
	}
	.post-name-date {
		justify-content: center;
		max-width: none;
	}

	.post-name {
		text-align: center;
	}

	.post-date {
		text-align: center;
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 826px) {
	.post-img {
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.post-excerpt {
		display: none;
	}

	.post {
		justify-content: center;
	}

	.post-info {
		padding: 0;
	}

	.post-name {
		text-align: center;
	}

	.post-date {
		text-align: center;
		width: 100%;
	}
}
@media screen and (max-width: 499px) {
	.post-name {
		font-size: 100%;
	}
}
