@import "../devinsipal";

.navigation {
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  display: inline-block;
  justify-content: center;
  padding-bottom: 10px;
  font-weight: 400;
}


.social-link-top {
  display: none;
}
