.navigation {
	padding-top: 10px;
	width: 100%;
	display: inline-block;
	justify-content: center;
	padding-bottom: 10px;
	font-weight: 400;
	background-color: $homeNav-bgcolor;
	border-bottom: $homeNav-border;
	padding-top: 10px;
	padding-bottom: 10px;
}

.social-link-top {
	display: none;
}
