---
type: 'home'
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
	<div class="row container-top">
		<div class="row social-top">
			{% for profile in site.data.social %}
			<a href="{{profile.url}}"><img src="{{profile.img}}" class="social-img shadow"/></a>
			{% endfor %}
		</div>

		{%- include cube.html -%}
		{%- include nav.html -%}

	</div>
	{%- include feed.html -%}

	{%- include footer.html -%}

</body>
<script src="{{ '/assets/js/pagination.js' | relative_url }}"></script>
<script src="{{ '/assets/js/cubes.js' | relative_url }}"></script>
<script src="{{ '/assets/js/home-parallax.js' | relative_url }}"></script>
</html>
