---
layout: twocol
type: 'post'
---

<div class="col-lg-10 main-content">
  <div class="row post">
    <div class="row post-image">
      <img class="post-img shadow" src="{{page.featured-img}}" alt="{{page.title}}">
    </div>

    <div class="row post-details">
      <div class="row post-name-date">
        <h2 class="col-lg-9 post-name">{{page.title}}</h2>
        <time class="col-sm-3 post-date">{{page.date | date_to_long_string}}</time>
      </div>


      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </div>

</div>