---
layout: base
type: 'post'
---
<div class="row main-content">
	<div class="post shadow">

		{%if page.images.size > 1%}
		<div class="row gallery" data-image="1" data-images="{{page.images.size}}">
			{%for image in page.images%}
			<img class="post-img gallery-img" id="img-{{forloop.index}}" src="{{image.image}}" alt="{{page.title}}">
			{%endfor%}
		</div>
		<div class="row gallery-controls">
			<div class="col-xs-6 gallery-button" id="prev">
				Previous
			</div>
			<div class="col-xs-6 gallery-button" id="next">
				Next
			</div>
		</div>
		{%else%}
		<img class="post-img" src="{{page.full-img}}" alt="{{page.title}}">
		{%endif%}

		<div class="row post-details">
			<div class="row post-name-date">
				<h2 class="col-lg-9 post-name">{{page.title}}</h2>
				<time class="col-sm-3 post-date">{{page.date | date: "%m/%d/%Y"}}</time>
			</div>
		</div>

		{% if content.size > 1 %}
		<div class="post-content">
			{{ content }}
		</div>
		{% endif %}
	</div>
	<script src="/assets/js/gallery.js"></script>
</div>
